@import "tailwindcss";


/* hide-scrollbar class (works for Chrome/Safari/Edge/Firefox/IE) */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
